{{ form_start(updateUserForm, {'attr': {'id': 'monFormulaire'}}) }}

{{ form_row(updateUserForm.pseudo) }}
{{ form_row(updateUserForm.name) }}
<button id="submitBtn" class="btn-style primary">Modifier</button>
{{ form_end(updateUserForm) }}

