{% extends "base.html.twig" %}

{% block title %}Modifier vos informations
{% endblock %}
{% block body %}
				<h2 class="histoire-title">Modifier vos données personnelles</h2>
	<main class="container">
		<section class="row">
			<div class="col-12">
				{% include "account/_form.html.twig" %}
			</div>
		</section>
	</main>
{% endblock %}
