{% extends "base.html.twig" %}

{% block title %}Découvrir
{% endblock %}

{% block body %}
	<h2 class="histoire-title">Découvrez le pays a l'honneur </h2>
	<div class="container">
		<div class="row">
			<main class="col-lg-9 col-md-8 col-sm-12 border border-light bg-white p-2">
				
			</main>
		</div>
	</div>
{% endblock %}

