{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<div class="container-reini">
		<section class="container my-3">
			<div class="row">
				<div class="col">
					<h2 class="resReg-title">Réinitialisation de mot de passe</h2>
					{{ form_start(requestPassForm, {'attr': {'id': 'monFormulaire'}}) }}
					{{ form_row(requestPassForm.email)}}<p id="emailError"></p>
					<button type="submit" id="submit" class="btn-style primary">Envoyer</button>
					{{ form_end(requestPassForm) }}
				</div>
			</div>
		</section>
	</div>
	<script>
		const email = document.querySelector("#reset_password_request_email");
const submitBtn = document.querySelector("#submit");
const emailError = document.querySelector("#emailError");

// function qui vérifie si l'adresse email est valide
email.addEventListener("blur", function () {
const emailValue = email.value.trim();
const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // expression régulière qui vérifie si l'entrée est une adresse email valide
if (emailValue.length > 200 || ! emailRegex.test(emailValue)) {
emailError.textContent = "Entrez une adresse e-mail valide, exemple@domaine.com";
emailError.classList.add("text-danger");
email.classList.add("is-invalid");
submitBtn.disabled = true;
} else {
emailError.textContent = "";
emailError.classList.remove("text-danger");
email.classList.remove("is-invalid");
submitBtn.disabled = false;
}
});
	</script>
{% endblock %}
