{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
<div class="container-reini">
	<section class="container my-3">
		<div class="row">
			<div class="col">
        <h2 class="resReg-title">Réinitialisation de mot de passe</h2>
        {{ form_start(passForm, {'attr': {'id': 'monFormulaire'}}) }}
				<div class="input-group">
					{{ form_widget(passForm.password) }}
					<button type="button" class="btn btn-outline-secondary" onclick="document.getElementById('reset_password_password').type = (document.getElementById('reset_password_password').type === 'password') ? 'text' : 'password'">
					Afficher/Masquer
					</button>
				</div>
				<p id="mdpinfo"></p>
        <button type="submit" class="btn-style primary">Envoyer</button>
				{{ form_end(passForm) }}
			</div>
		</div>
	</section>
</div>

	<script>
		const mdp = document.querySelector("#reset_password_password");
const mdpinfo = document.querySelector("#mdpinfo");

// function qui envoi un message expliquant le mot de passe demandé
mdp.addEventListener("click", function () {
mdpinfo.textContent = "Votre mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule, un chiffre et un caractère spécial.";
mdpinfo.classList.add("text-secondary");
});
	</script>

{% endblock %}
