{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block body %}
	<div class="containerPrincipal">
		{# <div class="imageAccueil-container">
			<img src="assets/pictures/restaurant.jpg" alt="restaurant le Quai Antique" class="rounded-image">
			<h1 class="image-title">DECOUVREZ NOTRE RESTAURANT<br>SAVOYARD | CHAMBERY</h1>
		</div>

		<h2 class="histoire-title">Notre histoire</h2>
		<div class="info-box">
			<p>
				Le restaurant Au Quai Antique est un nouvel établissement situé au cœur de Chambéry. Il propose une cuisine traditionnelle savoyarde, mettant en valeur des ingrédients locaux et de saison pour créer des plats savoureux et authentiques. Le chef Arnaud Michant, qui a été formé dans les meilleurs restaurants de la région, dirige l'établissement. La carte du restaurant est régulièrement mise à jour afin de mettre en avant les meilleurs produits de la saison. L'équipe de service est amicale et attentionnée, offrant ainsi une expérience agréable aux clients.
			</p>
		</div>

		<h3 class="title-h3">
			Vos plats préférés,<br>
			cuisinés avec soin et passion
		</h3>

		<div class="imageFlat-grid">
		</div> #}
    
{# <a href="{{ path('app_book') }}" class="btn-reserve">
			Reserver une table</a> #}
	
	</div>
	<!-- containerPrincipal -->


{% endblock %}
