<h2>Activez votre compte</h2>
<p>Bonjour
	{{ user.pseudo }}, bienvenue sur notre blog, mais avant tout il faut valider votre inscription en cliquant sur le lien ci-dessous : <br>
	<a href="{{ absolute_url(path('verify_user', {token: token})) }}">{{ absolute_url(path('verify_user', {token: token})) }}</a>
  <br>
Ce lien expirera dans 3 heures</p>
